<!DOCTYPE html>
<html>
<head>
	<title>Front End</title>
	<script type="text/javascript" src="../../angular.js"></script>
	<link rel="stylesheet" type="text/css" href="../../style.css">
	<script type="text/javascript" src="./bundle.js"></script>
	<!-- // <script type="text/javascript" src="./drag.js"></script> -->
</head>
<body ng-app="homepage">
	<h1>The Tester Front End</h1>

	<div id="wrapper" ng-controller="proofController as pC">
		<span>
			This is a test of the angular links
			2+2 = {{2+2}}

		</span>

		<div id="old">
			<h2>Existing SETS</h2>
			<div id="{{set.equivalents[0]}}" ng-repeat="set in pC.oldSets track by $index" class="sets" draggable="true" ondragstart="drag(event)">{{set.equivalents[0]}}</div>
		</div>	
		<div id="elem">
			<h2>Elements</h2>
			<div id="{{element.name}}" ng-repeat="element in pC.elements track by $index" class="elements" draggable="true" ondragstart="drag(event)" >{{element.name}}</div>
		</div>
		<div id="new">
			<h2>Created SETS</h2>
			<div id="{{set.eqivalents[0]}}" ng-repeat="set in pC.newSets track by $index" class="sets" draggable="true" ondragstart="drag(event)">{{set.equivalents[0]}}</div>
		</div>
		<div id="bar">
			<div id="dropspot1" class="emptyslot" ondragover="dragover(event)" ondrop="angular.element(getElementById('dropspot1')).scope().pC.drop(event)"></div>
			<button>putIn</button>
			<button>Union</button>
			<button>tester</button>
		</div>
	</div>
</body>
</html>